body {
  background-color: #04373b;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.decorative-vector {
  width: 300px;
  margin: 10px 0 30px;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.carrousel {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.card {
  min-width: 407px;
  height: 483px;
  background-color: #185350;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.image-container img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-content {
  padding-inline: 20px;
}

.card-content h3 {
  text-align: start;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.card-content p {
  text-align: start;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.rating span {
  font-weight: bold;
}

.location {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffe769;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #185350;
}
