.father-price {
  background-color: white;
}

.pricing {
  padding: 8rem 0;
  max-width: 120rem;
  margin: 0 auto;
}

.pricing__header {
  text-align: center;
  width: 51.1rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.pricing__header h2 {
  color: #000;
  margin-bottom: 1.6rem;
  font-size: 4.8rem;
  line-height: 1.2;
}

.pricing__header p {
  color: #666;
  font-size: 1.8rem;
  max-width: 60rem;
  margin: 0 auto;
}

.pricing__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  padding: 0 2rem;
}

.pricing__card {
  background: #ebf6f9;
  border-radius: 2rem;
  padding: 3.6rem 0;
}

.pricing__card__premium {
  background: #04373b;
  border-radius: 2rem;
  padding: 3.6rem 0;
}

.card__header {
  text-align: center;
  margin-bottom: 3rem;
}

.card__header__premium {
  text-align: center;
  margin-bottom: 3rem;
}

.card__header h3 {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.card__header__premium h3 {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.amount {
  font-size: 11rem;
  font-weight: 100;
  color: #034449;
  margin-bottom: 8.6rem;
  text-align: center;
  width: 100%;
}

.amount__premium {
  font-size: 11rem;
  font-weight: 100;
  color: #fff;
  margin-bottom: 8.6rem;
  text-align: center;
  width: 100%;
}

.card__features {
  margin: 3rem 0;
  display: grid;
  place-items: center;
  gap: 1.6rem;
}
.card__features__premium {
  margin: 3rem 0;
  display: grid;
  place-items: center;
  gap: 1.6rem;
}

.card__features li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #04373b;
  font-size: 2rem;
  width: 25rem;
}

.card__features__premium li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #fff;
  font-size: 2rem;
  width: 80%;
}

.card__features__premium li:nth-child(2) {
  color: #ffe769;
}

.card__features img {
  width: 2rem;
  height: 2rem;
}

.includes {
  font-weight: 600;
}
